:root {
    --main-color: #f1c94e;
    --accent-color-1: #E0F0F8;
    --accent-color-2: #86B5CD;

    /* Text colors */
    --main-text-color: #2B2B2B;
    --secondary-text-color: #4D4D4D;
    --color-text-muted: #6B6B6B;

    --white-color: #fff;
    --black-color: #000;

    /* Typography */
    --ff-quicksand: "Quicksand", sans-serif;
    --ff-mulish: "Mulish", sans-serif;

    --fs-1: 36px;
    --fs-2: 28px;
    --fs-3: 20px;
    --fs-4: 17px;
    --fs-5: 16px;
    --fs-6: 15px;
    --fs-7: 14px;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* Transition */
    --transition: 0.25s ease;

    /* Spacing */
    --section-padding: 80px;

    /* Spacing */
    --gap-small: 30px;
    --gap-medium: 50px;
    --gap-large: 80px;

    /* Widths */
    --container-max-width: 100%;
    --container-width-small: 525px;
    --container-width-medium: 720px;
    --container-width-large: 950px;
    --container-width-extra-large: 1150px;
    --footer-list-width-small: 140px;
    --footer-list-width-large: 170px;
}

/* Base Styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
label,
button,
textarea { display: block; }

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

input,
textarea {
    border: none;
    font: inherit;
    width: 100%;
}

html {
    font-family: var(--ff-quicksand);
    scroll-behavior: smooth;
}

body { background: var(--white); }

.container {
    max-width: var(--container-max-width);
    margin-inline: auto;
    padding-inline: 15px;
}

/* Typography Styles */
.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.btn {
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 15px 30px;
    border-radius: 4px;
    transition: var(--transition);
}

.btn:is(:hover, :focus) { transform: translateY(-2px); }

.contact .send {
  background-color:  var(--main-color);
  color: var(--white-color);
  padding: 10px 20px;

}

/* .contact .btn-outline:is(:hover, :focus) {
  background: var(--accent-color-2);
  color: var(--white-color);
}
 */
.section-title { text-align: center; }

.section-text {
  max-width: 460px;
  margin-inline: auto;
  margin-bottom: var(--gap-large);
}


/* Header Styles */
.logo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-color);
    padding-block: 20px;
    height: 65px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 4;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black-color);
}

.header.active { height: 330px; }

.menu-toggle-btn {
    font-size: 25px;
    color: var(--black-color);
}

.navbar {
    display: flex; /* Để các phần tử trong navbar được sắp xếp theo hàng ngang */
    justify-content: center; /* Căn giữa các mục navbar */
    flex-grow: 1; /* Để navbar có thể mở rộng và căn giữa được */
}

.navbar-list {
    display: flex;
    gap: 30px; /* Khoảng cách giữa các mục */
    margin: 0; /* Xóa bỏ margin của navbar-list */
}

.navbar-link {
    color: #000;
    font-size: var(--fs-6);
    font-family: var(--ff-mulish);
    padding-block: 10px;
    transition: var(--transition);
}

.navbar-link:hover {
    color: var(--main-color);
}

.header-actions {
    margin-left: auto; /* Đẩy "Đăng nhập" ra phía bên phải */
}

.header-action-link {
    font-size: var(--fs-6);
    font-family: var(--ff-mulish);
    padding: 10px;
    color: var(--black-color);
}

.header-action-link:hover {
    color: var(--main-color);
}

/* Dropdown Menu */
.dropdown summary {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding-right: 5px;
}

.dropdown i {
    margin-left: 3px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 1000;
    min-width: 200px;
}

.dropdown-toggle[open] .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #fff;
    color: var(--main-color);
}

.dropdown summary::-webkit-details-marker {
    display: none;
}

/* Home Section Styles */
.home {
    position: relative;
    width: 100%;
    height: 100vh;  /* Đảm bảo phần này chiếm toàn bộ chiều cao màn hình */
    overflow: hidden;  /* Ngăn ảnh vượt ra ngoài */
}

.home-cover {
    position: absolute;  /* Để ảnh phủ toàn bộ section */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  /* Chiếm toàn bộ chiều cao của section */
    overflow: hidden;
}

.home-cover img {
    width: 100%;
    height: 100%;  /* Đảm bảo ảnh phủ hết không gian của .home-cover */
    object-fit: cover;  /* Giữ tỉ lệ ảnh khi co giãn */
}


/* About Section Styles */
.about { padding-block: var(--section-padding); }

.about-content { flex: 1; margin-bottom: 30px; }

.about-title { margin-bottom: 10px; }

.about-text {
    color: var(--main-text-color);
    font-weight: var(--fw-500);
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-list {
    display: grid;
    gap: 20px;
}

.about-image {
    max-width: 40%;
    margin-left: 70px;
}

.about-image img {
    width: 100%;
    height: auto;
}

.image-name {
    font-size: 16px;
    color: var(--main-text-color);
    margin-top: 10px;
}

/* Faculty Section */
.faculty {
/*   background-color: var(--main-color);
 */  padding-block: var(--section-padding);
}

.faculty-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  color: #000;
  text-align: center;
  margin-bottom: var(--gap-large);
}

.faculty-group {
  margin-bottom: var(--gap-large);
}

.faculty-group-title {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  color: var(--main-text-color);
  margin-bottom: 15px;
}

.faculty-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.faculty-item {
  text-align: center;
}

.faculty-item img {
  width: 180px; /* Increased from 100px to 150px */
  height: 200px; /* Increased from 100px to 150px */
  object-fit: cover;
  margin-bottom: 10px;
}

.faculty-name {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  color: var(----main-text-color);
  text-align: left;
}


/* Blog Section Styles */
/* .blog { padding-block: var(--section-padding); background-color: var(--accent-color-1); }

.blog .section-title { margin-bottom: 20px; }

.blog .section-text { margin-bottom: 40px; text-align: center;}

.blog-list {
    display: grid;
    gap: 30px;
}

.blog-banner { margin-bottom: 20px; }

.blog-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.blog-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: var(--fs-6);
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.blog-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog-title {
    font-size: var(--fs-3);
    color: var(--main-text-color);
}

.blog-text {
    color: var(--cool-gray);
    font-size: var(--fs-6);
    line-height: 1.7;
    margin-bottom: 20px;
}

.blog-link { color: var(--main-color); font-weight: var(--fw-600); } */


/* Contact Styles */

.contact {
  padding-block: 50px;
}

.contact .section-title {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-bottom: var(--gap-small);
}

.contact-form { margin-bottom: 0px; }

.input-wrapper { margin-bottom: 20px; } 

.contact label {
  color: var(--secondary-text-color);
  font-weight: var(--fw-500);
  margin-bottom: 10px;
}

.contact .input-field {
  background: transparent;
  color: var(--secondary-text-color);
  font-size: var(--fs-7);
  padding: 10px 15px;
  border: 1px solid hsla(244, 17%, 67%, 0.3);
  border-radius: 4px;
}

.contact .input-field:focus {
  outline: none;
  background: var(--ghost-white-2);
}

.contact .input-field::placeholder { color: var(--cool-gray); }

textarea.input-field {
  margin-bottom: 20px;
  resize: vertical;
  min-height: 50px;
  height: 100px;
  max-height: 200px;
}

.contact .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-list{
  display: block; 
/*   margin-bottom: 10px;
 */}

.contact-link {
  color: var(--main-text-color);
  font-weight: var(--fw-500);
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.contact-link span:hover{
	color: var(--main-color);
}


/* Footer Styles */
footer {
  background: var(--main-color);
  font-weight: var(--fw-100);
}

.footer-top { padding-block: 30px }

.footer-brand { margin-bottom: 20px; }

.footer-text {
  font-size: var(--fs-6);
  color: var(--white-color);
  line-height: 1.8;
  margin-bottom: 25px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.social-link {
  color: var(--white-color);
  font-size: 25px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) { color: var(--black-color); }

.footer-bottom {
  font-size: 13px;
  padding-block: 20px;
  text-align: center;
  color: var(--white-color);
}

.copyright a {
  display: inline-block;
  color: var(--white-color);
  transition: var(--transition);
}

